.booking-container {
  padding: 16px;
}

input {
  height: 20px;
}

.separate-input {
  padding-top: 16px;
}

.submit-button {
  margin-top: 16px;
  bottom: 0;
}

.property-title {
  margin-top: 25px;
  width: 90%;
}

.success-booking {
  margin-top: 40px;
  padding: 16px;
  text-align: center;
  background-color: #2f5e40;
  color: #ffffff;
  font-size: 23pt;
  font-family: sans-serif;
}
