#properties-carousel {
  position: fixed;
  bottom: 10px;
  width: 100%;
  z-index: 2;
  transition-delay: 2s;
}

/* Consider adding styling for desktop as it is not know which slide is on focus */
/*.active .tile {*/
/*  border: 2px solid black;*/
/*}*/

button {
  position: absolute;
  right: 16px;
  top: 16px;
}

.stopped-events {
  pointer-events: none;
  display:none;
}

.booking-form-container {
  width: 100%;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #FFFFFF;
  display: block;
  overflow: visible;
}

.item {
  padding: 0 8px 0 8px;
  box-sizing: border-box;
}

.tile {
  min-height: 192px;
  height: 192px;
  background-color: #fff;
  background-size: cover;
  /*display: flex;*/
  /*align-items: top;*/
  justify-content: center;
  padding: 16px;
}

.book-image {
  width: 45%;
  height: 137px;
  float: left;
  margin-right: 5%;
  margin-bottom: 15px;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

.book-image img {
  height: auto;
  width: auto;
  max-height: 137px;
}

.book-details {
  float:right;
  width: 50%;
  height: 137px;
  position: relative;
}

.book-title {
  height: 45px;
  overflow: hidden;
  word-break: break-word;
  font-size: 10pt;
  font-weight: 600;
  font-family: Montserrat,sans-serif;
}

.book-description {
  padding: 10px 0  10px 0;
  bottom: 0;
  font-size: 8pt;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #737b83;
  line-height: 9pt;
}

.book-price {
  font-size: 16pt;
  font-weight: 700;
}

.book-designs {
  position: absolute;
  bottom: 0;
  font-size: 10pt;
  font-family: sans-serif;
}


.book-price-small {
  display:none;
}

@media (max-height: 400px) {
  .tile {
    min-height: 100px;
    height: 100px;
    max-height: 100px;
  }

  .book-details {
    height: 50px;
    float: left;
  }

  .book-description {
    display: none;
  }

  .book-image {
    display: none;
  }

  .book-designs {
    display: none;
  }

  .book-title {
    float: left;
    height: 30px;
    overflow: hidden;
  }

  .book-price {
    display: none;
  }

  .book-price-small {
    float: right;
    display: block;
  }
}
